

<div class="draggable-container">
      <div class="carousel-container">
        <div class="carousel-video" *ngFor="let video of videos">
          <video #videoElement 
                 (mouseover)="hoverPlay(videoElement)" 
                 (mouseout)="hoverPause(videoElement)" 
                 (click)="openOverlay(video)">
            <source [src]="video.src" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
    
    <div *ngIf="showOverlay" class="video-overlay">
      <div class="overlay-content">
        <video controls [src]="currentVideo?.src" type="video/mp4"></video>
        <p>{{currentVideo?.description}}</p>
      </div>
      <span class="close-button" (click)="closeOverlay()">X</span>
    </div>
        
        <div>
            <div class="button">
                  <a href="#" class="btn-flip" data-back="About" data-front="About"></a>
                  <a href="#" class="btn-flip" data-back="Team" data-front="Team"></a>
                  <a href="#" class="btn-flip" data-back="Works" data-front="Works"></a>
                  <a href="#" class="btn-flip" data-back="News" data-front="News"></a>
                  <a href="#" class="btn-flip" data-back="Contact" data-front="Contact"></a>
            </div>
            <div class="text">
                <h1>Studio Yellow Something.</h1>
            </div>
            <div class="para">
                Studio Yellow Something is a studio initiated by writer and director Raka Noshin Nower. After <br>
                years of experience in the advertising industry, she has started her own company as she plans on <br>
                  doing things beyond film production.
            </div>
        </div>

